<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.ujirani" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/classifieds"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.androidhive.slidingmenu.adapter.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

    </application>

</manifest>
